﻿@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome</h2>

<ul>
    @for (int i = 0; i < ViewBag.numTimes; i++)
    {
        <li>@ViewBag.message</li>
    }
</ul>
